<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/css/style.css">
    <title>Document</title>
</head>
<body>
   <header>
       <nav>
        <div class="text-logo">
            <img src="../style/resources/foodpanda.png" alt="" height="40px">
        </div>
           <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Carrers</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Order</a></li>
           </ul>

           <!-- Hamburger button start -->
           <div class="button-nav">
            <span></span>
            <span></span>
            <span></span>
            <!-- Hamburger button end -->
        </div>
       </nav>
   </header>

   <main>
       <div class="cn-highlight-product">
           <div class="cn-product-info">
               <h3>Ultra Shoes</h3>
               <p>SHOES WITH BADMINTON STYLE REIMAGINED FOR TODAY'S STREETS</p>

               
              <div class="cn-button-product">
                <div class="button-size">Size</div>
                <div class="button-buy">Buy</div>
              </div>
           </div>
           
           <div class="cn-product-image">
               <img src="../style/resources/baby-shoes-505471_1920.jpg" alt="" height="150px">
           </div>
       </div>
   </main>

   <script src="../style/script/main.js"></script>
</body>
</html>